# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

services:
  vdms-dataprep:
    build:
      target: ${DEV_BUILD_TARGET:-final-dev}
      args:
        - COVERAGE_REQ
    image: egaidev/vdms-dataprep:latest-dev
    environment:
      - DEFAULT_BUCKET_NAME=video-summary
      - DB_COLLECTION=video-rag-dev
      - DETECTION_MODEL_DIR=${YOLOX_MODELS_MOUNT_PATH:-/app/models/yolox}
      - EMBEDDING_BATCH_SIZE=${EMBEDDING_BATCH_SIZE:-32}
      - MAX_PARALLEL_WORKERS=${MAX_PARALLEL_WORKERS:-}
      - ROI_CONSOLIDATION_ENABLED=${ROI_CONSOLIDATION_ENABLED:-false}
      - ROI_CONSOLIDATION_IOU_THRESHOLD=${ROI_CONSOLIDATION_IOU_THRESHOLD:-0.2}
      - ROI_CONSOLIDATION_CLASS_AWARE=${ROI_CONSOLIDATION_CLASS_AWARE:-false}
      - ROI_CONSOLIDATION_CONTEXT_SCALE=${ROI_CONSOLIDATION_CONTEXT_SCALE:-0.2}
    volumes:
      - "..:/app"
      - "${YOLOX_MODELS_VOLUME_NAME:-vdms-yolox-models}:${YOLOX_MODELS_MOUNT_PATH:-/app/models/yolox}"